<settings>
<category label="My Library">
    <setting id="choose_source" type="enum" values="Enter URL" label="My Channels" default="Add URL" visible="eq(-1,0)"/>
    <setting id="new_file_source" type="text" source="files" label="Click here to enter your library URL" default="https://channelpear.com/api/list/?u=" visible="eq(-1,0)"/>
    <setting type="sep" />
    <setting type="action" label="After entering, click here to save" option="close" action="RunPlugin(plugin://plugin.video.channelPEAR/?mode=7)" />
    <setting type="sep" />
</category>
</settings>
